<div class="col-md-2">
  <h2><%= event.escape('name') %></h2>
  <section>Description: <%= event.escape('description') %></section>
  <div>Location: <%= event.escape('location') %></div>
  <div><time>Date: <%= moment(event.escape('date')).format("MMM Do YY") %><time></div>
  <div><time>Time: <%= moment(event.escape('time')).format("h:mm a") %><time></div>
</div>

<div class="col-md-10">
  <div id="route-show"></div>
</div>
