<h2><%= event.escape('name') %></h2>
<section><%= event.escape('description') %></section>
<h3><%= event.escape('location') %></h3>
<h3><%= event.escape('date') %></h3>
<h3><%= event.escape('time') %></h3>

<div id="route-show"></div>
