<!DOCTYPE html>
<html>
<head>
  <title>TeamRun</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <%= button_to 'Logout', session_url, method: :delete %>
<% end %>

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<%= yield %>

<script>
    window.TeamRunAuth = function(){
      return <%= current_user.id if current_user %>
    }
</script>
</body>
</html>
