<!DOCTYPE html>
<html>
<head>
  <title>TeamRun</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.js'></script>
  <script src='https://widget.cloudinary.com/global/all.js'></script>
  <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.min.css' rel='stylesheet'/>
  <link href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.2.6/fullcalendar.print.css' rel='stylesheet'/>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar', user: current_user %>

<div class="jumbotron-holder">
</div>
<div class=".container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <%= yield %>
    </div>
  </div>
</div>

<script>
    window.TeamRunAuth = function(){
      return <%= current_user.id if current_user %>
    }
</script>
</body>
</html>
